*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.apartments_forRent{
    max-width: 1440px;
    margin: 0 auto;
}
.apartmentsList{
    display: grid;
    grid-template: auto/ repeat(4, 1fr);
    gap: 20px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.apartment_figure{
    max-width: 228px;
    height: auto;
    background-color: #CEF9FF; 
}

img{
 width:100% ;
 height: auto;
} 
.more_div{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;  
} 
.apartment_button{
    background-color: #CEF9FF;
    /* border: none; */
}
.link{
    text-decoration: none;
    color: black;
}

